{% extends "layout.html" %}

{% block body %}
	
	<div class="content">
			{% if prediction is defined %}
                <br>
                Your script rating: {{ prediction }}.
                <br>
                <div id="tester" style="width:600px;height:250px;"></div>
                
                 <script>
      
	var trace1 = {
  x: {{ x }},
  y: {{ y }},
  type: 'bar',
  text: {{ text|tojson  }},
  font: {
      family: 'Courier'},
  marker: {
    color: 'rgb(158,202,225)',
    opacity: 0.6,
    line: {
      color: 'rbg(8,48,107)',
      width: 1.5
    }
  }
};

var data = [trace1];

var layout = {
  title: 'How does your script feel',
  bargap : 0.05,
  xaxis: {title: 'Page'},
  yaxis: {title: 'S'}
};

Plotly.newPlot('tester', data, layout);
</script>
      
			{% else %}
				Please fill out the form below!
			{% endif %}
	</div>
        
   

    

     

     

	{% block page_content %}
	<div class="content">
		<form method="POST">

			{{ form.param1.label }} {{ form.param1() }}
			<br>
			{{ form.param2.label }} {{ form.param2() }}
			<br>
			{{ form.param3.label }} {{ form.param3() }}
			<br>
			<br>
			{{ form.submit() }}
		</form>
	</div>
	{% endblock %}


<script> var i =  [1,2,3] </script>
{% endblock %}

