<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rate my script</title>
    <link href="../static/style.css" rel="stylesheet">
      
      <script src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
      
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  
</head>

<body>

    <header>
    	<div class="outerContainer">
        	<div class="header-div">
            	<h1 style="color:#ecf0f1;"><a href="/">Rate my script</a><h1>
        	</div>
        </div>
	</header>

{% block body %}{% endblock %}

</body>

</html>